*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
   
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(235, 229, 229);
    width: 400px;
    height: 600px;
    margin: 200px auto;
    border-radius: 9px;
    flex-direction: column;
    position: relative;
    

}

a .close {
    height: 35px;
    width: 35px;
    color: white;
    position: relative;
    left: 420%;
    top: -200%;
    
   
}

.close:hover {
    color: black;
}

.pict {
    display: flex;
    align-items: center;
    width: 400px;
    height: 280px;
    margin-top: -150px;
}

.describe h2 {
    margin-top: 30px;
    margin-left: 40px;
      
}

.describe .desc {
    margin: 20px 0px;
    padding: 0px 40px;
      
}

.price2, .count, .rate {
    margin: 20px auto;
    width: 200px;
    height: 30px;
    color: white;
    background: black;
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: center;

}

span {
    width: 3px;
    height: 30px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 10px;
    

}










/* RESPONSIVE CODEBASE */

@media screen and (max-width: 900px) {
    .wrapper {
       
        background: rgb(235, 229, 229);
        width: 84%;
        height: 600px;
    
    }

    .pict {

        width: 100%;
        height: 280px;
        margin-top: -190px;
    }

    .close {

        margin-left: 20px;
        margin-top: 20px;
       
       
    }

}


@media screen and (300px > width <= 570px) {
 

    .close {
       
        
        
       
    }

}