*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    line-height: 1.4 ;
    height: 100Vh;
}

#navbar{
    position: sticky;
    top: 0;
    display: flex;
    background: #333;
    color: #fff;
    justify-content: space-between;
    padding: 1rem;
    z-index: 1;
}

#navbar ul{
    display: flex;
    align-items:center ;
    list-style: none;
}

#navbar ul li a{
  color: #fff;
  padding: 0.75rem;
  margin: 0 0.25rem;
}

#navbar ul li a:hover,#navbar ul li a.current{
 background: #93cb52;
 border-radius: 5px;
}

a{
    text-decoration: none;
}

#navbar h1 a {
    color: white;
}

#footer {
    display: none;
}

/* UTILITY */

.txt-prmy{
    color: #93cb52;
}


@media screen and (max-width: 900px){
    #navbar {
        /* max-width: 900px; */
        
    }
    #navbar ul{
        display: none;
        align-items:center ;
        list-style: none;
    }


    /* FOOTER RESPONSIVE  */

    #footer {
        display: block;
    }

    #footer #navbar {
        position: sticky;
        margin-top: 100vh;
        display: flex;
        background: #333;
        color: #fff;
        justify-content: center;
        padding: 1rem;
        z-index: 1;
    }

    #footer #navbar ul{
        display: flex;
        align-items:center ;
        list-style: none;
    }

    #footer #navbar ul li a{
        color: #fff;
        padding: 0.75rem;
        margin: 0 0.25rem;
      }

    #footer #navbar ul li a .icon{
        color: #fff;
        height: 40px;
        width: 40px;
      }

      #footer #navbar ul li a .icon:hover,#navbar ul li a.current{
        color: #93cb52;
        background: #333;
        
       }

       

   

}


