* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
    height: 100Vh;
}

#navbar {
    position: sticky;
    top: 0;
    display: flex;
    background: #333;
    color: #fff;
    justify-content: space-between;
    padding: 1rem;
    z-index: 1;
}

#navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
}

#navbar ul li a {
    color: #fff;
    padding: 0.75rem;
    margin: 0 0.25rem;
    padding-right: 20px;
}

#navbar .bell-bell {
    color: #fff;
    width: 35px;
    height: 35px;
    /* margin-left: 900px; */
    position: absolute;
    margin-left: 30%;
}

#navbar .circle-notify {
    background: red;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    /* margin-left: 900px; */
    position: absolute;
    margin-left: calc(70% + 0.6rem);
    margin-top: -2px;
    display: none;



}

#navbar .circle-notify.active {
    display: block;
}

#navbar .circle-notify .num {

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 1px auto;


    font-size: 8px;
}



#navbar ul li a:hover,
#navbar ul li a.current {
    background: #93cb52;
    border-radius: 5px;
}

a {
    text-decoration: none;
}

#navbar h1 a {
    color: white;
}

#footer {
    display: none;
}

/* UTILITY */

.txt-prmy {
    color: #93cb52;
}

/* SECTION CODE */
.reels {
    display: none;
}

.intro {
    height: 400px;
    background: #a5d86a;
    position: relative;
}

.dynamic-text {
    display: flex;

}

.let-dress {
    margin-top: 154px;
    margin-left: 200px;
    font-size: 2.5rem;
    font-family: 'Alkatra', cursive;
}

.let-dress.active {

    display: none;
}

.let-dress2 {
    margin-top: 154px;
    margin-left: 200px;
    font-size: 2.5rem;
    font-family: 'Alkatra', cursive;
    display: none;
}

.let-dress2.active {
    display: block;
}

.text-white {
    color: white;
}

.catalogue {
    position: relative;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    height: 20px;
}

.search-parent {

    display: flex;
    justify-content: center;
    position: relative;
}

.catalogue .search {
    width: 360px;
    height: 45px;
    border: 3px solid #333;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding-left: 12px;
}

.catalogue .search:focus {
    border: #a5d86a;
}

.catalogue .search-btn:focus {

    color: white;
}

.catalogue .search-btn {
    width: 100px;
    height: 45px;
    border: 2px solid #333;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: 20px;
    background: #a5d86a;
    cursor: pointer;

}

/* <<<<<<<<< POPULATED ITEMS >>>>>>>>>>>>>>>>>>>>>> */

.item-grid {

    margin: 20px 18%;

}


.usercardcontainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));




}

.card {
    min-height: 360px;
    border: 1px solid black;
    border-radius: 7px;
    margin: 0 20px;
    float: left;
    margin-top: 60px;
    width: 280px;
    background: rgb(151, 147, 147);



}

.card .pic {
    margin-top: 15px;
    
    height: 204px;
    width: 90%;
    border-radius: 7px;
    /* border: 2px solid rgb(124, 120, 120); */
    border: 2px solid white;
   



}


.card .description {
    margin-top: 10px;
    background: #93cb52;
    height: 4px;
    width: 90%;
    border-radius: 4px;


}

.para {
    color: white;
    margin-left: 15px;
    margin-top: 7px;
    font-size: 13px;
}

.add-cart {
    margin-left: 15px;
    margin-top: 7px;
    background-color: #93cb52;
    border: 1px solid #93cb52;
    border-radius: 5px;
    height: 28px;
    width: 90px;
    cursor: pointer;
}

.card.hide {
    display: none;
}

.square {
    margin-left: 195px;
    margin-top: -28px;
    background-color: black;
    border: 1px solid black;
    border-radius: 5px;
    height: 28px;
    width: 70px;
    cursor: pointer;
    position: relative;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}





/* RESPONSIVE CODEBASE */

@media screen and (max-width: 900px) {
    #navbar {
        /* max-width: 900px; */

    }

    #navbar .bell-bell {
        color: #fff;
        width: 35px;
        height: 35px;
        position: absolute;
        margin-left: -12%;

    }

    #navbar .circle-notify {
        position: absolute;
        margin-left: calc(80% + 2.5rem);
        margin-top: -3px;
    }

    #navbar ul {
        display: none;
        align-items: center;
        list-style: none;
    }

    /* REELS */

    .reels {
        display: block;
       

    }

    .reel-wrapper ul {
        list-style-type: none;
        user-select: none;
        display: flex;
        overflow-y: auto;
        padding: 20px 0;
        
       
    }

    .reel-wrapper ul li {
        padding: 0 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .reel-wrapper ul li:first-child {
        padding-left: 20px;

    }

    .reel-wrapper ul li:last-child {
        padding-right: 20px;

    }


    .outer-reel {
        width: calc(75px + 0.1rem);
        height: calc(75px + 0.1rem);
        border-radius: 50%;
        background-color: #93cb52;

    }

    .inner-reel {
        width: 68px;
        height: 68px;
        border-radius: 50%;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 4px auto;
        background: url(/pic3.avif);
        background-size: cover;
        background-position: center;
        /* background-repeat: no-repeat; */
        

    }

    /* FOOTER RESPONSIVE  */

    #footer {
        display: block;
    }

    #footer #navbar {
        position: sticky;
        bottom: 0;

        display: flex;
        background: #333;
        color: #fff;
        justify-content: center;
        padding: 1rem;
        z-index: 1;
    }

    #footer #navbar ul {
        display: flex;
        align-items: center;
        list-style: none;
    }

    #footer #navbar ul li a {
        color: #fff;
        padding: 0.75rem;
        margin: 0 0.25rem;
    }

    #footer #navbar ul li a .icon {
        color: #fff;
        height: 35x;
        width: 35px;
    }

    #footer #navbar ul li a .icon:hover,
    #navbar ul li a.current {
        color: #93cb52;
        background: #333;

    }

    .intro {

        position: relative;
        background: #fff;
        height: 200px;
    }

    .dynamic-text {
        /* margin-top: -10%;
        margin-left: -45%;
        position: relative; */

        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
    }


    .intro .dynamic-text .let-dress {
        /* text-align: center;
        font-size: 1.5rem;
        margin-top: -10%;
        margin-left: -45%; */

        justify-content: center;
        align-items: center;
        display: none;


    }

    .intro .dynamic-text .let-dress2 {
        /* font-size: 1.5rem;
        margin-top: -10%;
        margin-left: -55%; */
        justify-content: center;
        align-items: center;
        display: none;

    }

    .catalogue .search {
        margin-top: -180px;
        width: 270px;
        height: 45px;
        padding-left: 12px;
        border-color: black;
    }


    .catalogue .search-btn {
        margin-top: -180px;
        width: 90px;
        height: 45px;
        font-size: 18px;
        background: black;
        color: #fff;

    }

    .item-grid {

        display: flex;
        justify-content: center;
        flex-direction: column;
        /* margin: 20px 2%; */
        margin: 30px auto;
        margin-top: -90px;

    }

    .usercardcontainer {
        display: flex;
        justify-content: center;

    }

    .card {
        height: 450px;
        border-radius: 7px;
        margin-top: 60px;
        min-width: 90%;
        margin: 30px auto;
        user-select: none;
        

        

    }

    .card .pic {
        /* margin-left: 7px; */
        margin-top: 16px;
        height: 270px;
        width: 90%;
        border-radius: 7px;


    }


    .card .description {
        margin-top: 10px;
        height: 4px;
        width: 90%;
        border-radius: 4px;
    }

    .para {
        margin-left: 16px;
        margin-top: 5px;
    }

    .add-cart {
        margin-left: 16px;
        margin-top: 15px;

    }

    .hide {
        display: none;
    }

    .square {
        margin-left: 82%;
        margin-top: -28px;
        
    }


}


@media screen and (width <= 470px) {
   

    #navbar .bell-bell {
        color: #fff;
        width: 35px;
        height: 35px;
        position: absolute;
        margin-left: -12%;

    }

    #navbar .circle-notify {
        position: absolute;
        margin-left: calc(74% + 2.5rem);
        margin-top: -3px;
    }

    .square {
        margin-left: 74%;
        margin-top: -28px;
        
    }


}

